build/
.dart_tool/
.vscode/
.idea/
analysis_options.yaml
kimppakyyti.iml
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
.metadata
lib/firebase_options.dart

android/*
!android/build.gradle
android/app/*
!android/app/build.gradle
android/app/src/main/*
!android/app/src/main/AndroidManifest.xml
